

@media (max-width: 980px) {
    
    .tela-inicial .itens-tela-inicial {
        width: 100%; 
        height: auto; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
      }
}

@media (max-width: 768px){
    /* Cabeçalho */
    .cabecalho .logo{
        display: block;
        margin: 0 auto;        
    }

    .cabecalho nav{
        position: static;
        text-align: center;
        width: 100%;
        margin-top: -20px;
    }

    .cabecalho nav ul li a{
        width: 100%;
        display: block;
    }

    

    .painel h2{
        font-size: 2.5rem;
    }

    .tela-inicial {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background-image: url(/src/images/w1.jpg);
        background-position: center; 
        background-size: cover; 
    }
    
    .tela-inicial{
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
      }
         
    .tela-inicial h2{
        color: #fff;
        font-size: 30px;
        text-align: center;
        
      }

    .tela-inicial .itens-tela-inicial {
        width: 100%; 
        height: auto; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -75%);
      }

    .tela-inicial .logo-game-recente{
        width: 300px;
    }

    .tela-inicial .glow-on-hover{
        font-size: 40px;
        width: 250px;
    }

    
}

@media (max-width: 500px){

    .wrapper {
        display: flex;
        grid-gap: 1em;
        overflow: hidden;
        align-items: center; 
        gap: 1em;
        max-width: 17em;
        margin-right: 20px;
      }
    
    .card-image{
        border-radius: 20px;
    }

    .card-image img {
        width: 15.4em;
    }
    .details h1{
        font-size: 22px;
    }
    .details .tags {
        font-size: 10px;
        text-align: center;
        margin-bottom: 12px;
    }

    .details .desc {
        font-size: 14px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
    }

    .details .plataformas ul {
        margin-top: 5px;
    }

    .details .plataformas ul li {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1.5px solid #fff;
        
    }

    .details .btn-saiba-mais{
        font-size: 20px;
    }

    .details .btn-saiba-mais:hover{
        font-size: 20px;
    }
}